.search-box{
    -webkit-appearance:none;
    padding: 10px;
    line-height:10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.input{
	margin-top: 25px;
}
.countryName{
	font-size:40px;
}